#navbar {
    overflow: hidden;
    background-color: #333;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.btn {
    background-image: linear-gradient(DodgerBlue, RoyalBlue);
    border: none;
    color: white;
    padding: 8px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12.5px;
}

.btn:hover {
    background-image: linear-gradient(RoyalBlue, DodgerBlue);
}

div button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 82.5px;
    background: linear-gradient(to bottom, #752b22 0%, #f6765f 16%, #180503 19%, #110302 60%, #210706 90%, #110101 95%, #110101 100%);
    border: 2px solid #0a080a;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 -5px 5px 1px #040404, 0 2px 5px 1px #040404;
    outline: none;
}

div button.on {
    top: 50%;
    background: linear-gradient(to bottom, #4d0d04 0%, #842f22 6%, #1f0d07 8%, #58160c 40%, #f65021 75%, #f6765f 86%, #731101 88%, #660c03 100%);
    border-top: 1px solid #040404;
    -o-border-image: linear-gradient(to top, rgba(247, 170, 40, 0.1) 0, #e61404 10%, rgba(247, 170, 40, 0.6) 19%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%) 1 100%;
    border-image: linear-gradient(to top, rgba(247, 170, 40, 0.1) 0, #e61404 10%, rgba(247, 170, 40, 0.6) 19%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%) 1 100%;
    border-image-width: 1px;
    box-shadow: 0 5px 5px 1px #040404, 0 -2px 5px 1px #040404;
}

div button.on::before {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 100px;
    background: radial-gradient(ellipse at center, rgb(245, 227, 38) 0%, rgba(247, 170, 40, 0.8) 19%, rgba(250, 46, 13, 0.4) 45%, rgba(250, 46, 13, 0) 70%, rgba(250, 46, 13, 0) 100%);
    border-radius: 50%;
    opacity: 0.3;
}

div button.on::after {
    display: block;
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 70%;
    background-image: radial-gradient(rgba(177, 113, 19, 0.2) 10%, rgba(247, 170, 40, 0.2) 25%, transparent 0), radial-gradient(rgba(177, 113, 19, 0.2) 10%, rgba(247, 170, 40, 0.2) 25%, transparent 0);
    background-size: 4px 4px;
    background-position: 5px 5px, 10px 10px;
    z-index: 10;
}

.switch {
    position: absolute;
    top: 10%;
    left: 95%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 100px;
    background: linear-gradient(to bottom, #161415 0%, #050706 100%);
    border-radius: 10px;
    box-shadow: 0 5px 10px 4px #080808, inset 0 2px 5px #3c3d3c;
}

.Title {
    text-align: center;
}

.sticky {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.content {
    padding: 16px;
}

@font-face {
    font-family: SF-UI;
    src: url(../fonts/SF-UI/SF-UI-Display-Regular.otf);
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-repeat: no-repeat;
        background-color: #c0d0ff;
        background-image: linear-gradient(to left, white, #c0d0ff);
        font-family: SF-UI;
    }

    body a:hover {
        color: red
    }

    body.dark-theme {
        background-color: black;
        background-image: linear-gradient(to top, black, #333);
        color: white;
        background-repeat: no-repeat;
        background-image: stretch;
        font-family: SF-UI;
    }


}

#navbar {
    color: white;
}

img {
    float: left;
    padding-right: 25px;
}

body a:hover {
    color: red;
}

/*.dark-mode {
    background-color: #333;
    background-image: linear-gradient(to top, black, #333);
    color: white;
    background-repeat: no-repeat;
    background-image: stretch;
}*/

.link {
    text-decoration: none;
}

div a:link {
    color: orange;
}

div a:active {
    color: cyan;
}


body div a:hover {
    color: cyan;
}


div a:visited {
    color: greenyellow;
}

/*
body a:link.dark-mode {
    color: orange;
}

body a:hover.dark-mode {
    color: cyan;
}

body a:active.dark-mode {
    color: cyan;
}

body a:visited.dark-mode {
    color: greenyellow;
}
*/

@media (prefers-color-scheme: dark) {

    /* defaults to dark theme */
    body {
        background-color: black;
        background-image: linear-gradient(to top, black, #333);
        color: white;
        background-repeat: no-repeat;
        background-image: stretch;
        font-family: SF-UI;
    }

    body a:link {
        color: orange;
    }

    body a:hover {
        color: cyan;
    }

    body a:active {
        color: cyan;
    }

    body a:visited {
        color: greenyellow;
    }

    /* Override dark mode with light mode styles if the user decides to swap */
    body.light-theme {
        color: black;
        background-repeat: no-repeat;
        background-color: #c0d0ff;
        background-image: linear-gradient(to left, white, #c0d0ff);
        font-family: SF-UI;
    }

    body a:link.light-theme {
        color: blue;
    }

    body a:hover.light-theme {
        color: red;
    }

    body a:active.light-theme {
        color: red;
    }

    body a:visited.light-theme {
        color: purple;
    }
}

/*    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam beatae nihil quisquam saepe nesciunt itaque pariatur doloremque alias, totam magnam, molestiae eligendi corrupti ipsum non aut autem laudantium accusamus tempora! */

/* pneumonoultramicroscopicsilicovolcanoconiosis */

/*    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam beatae nihil quisquam saepe nesciunt itaque pariatur doloremque alias, totam magnam, molestiae eligendi corrupti ipsum non aut autem laudantium accusamus tempora! */

/* pneumonoultramicroscopicsilicovolcanoconiosis */

/*    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam beatae nihil quisquam saepe nesciunt itaque pariatur doloremque alias, totam magnam, molestiae eligendi corrupti ipsum non aut autem laudantium accusamus tempora! */

/* pneumonoultramicroscopicsilicovolcanoconiosis */

/*    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam beatae nihil quisquam saepe nesciunt itaque pariatur doloremque alias, totam magnam, molestiae eligendi corrupti ipsum non aut autem laudantium accusamus tempora! */

/* pneumonoultramicroscopicsilicovolcanoconiosis */

/*    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam beatae nihil quisquam saepe nesciunt itaque pariatur doloremque alias, totam magnam, molestiae eligendi corrupti ipsum non aut autem laudantium accusamus tempora! */

/* pneumonoultramicroscopicsilicovolcanoconiosis */

/*    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam beatae nihil quisquam saepe nesciunt itaque pariatur doloremque alias, totam magnam, molestiae eligendi corrupti ipsum non aut autem laudantium accusamus tempora! */

/* pneumonoultramicroscopicsilicovolcanoconiosis */